@font-face {
    font-family: product sans;
    src: url(/fonts/Product\ Sans\ Bold.ttf);
}

@font-face {
    font-family: gilroy l;
    src: url(/fonts/Gilroy-Light.otf);
}

@font-face {
    font-family: gilroy d;
    src: url(/fonts/Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: head;
    src: url(/fonts/Heading-Now-Variable.ttf);
}

:root {
    --clr-black: #000;
    --clr-white: #fff;
    --clr-orange: #e84949;
    --clr-light-gray: #E7E7E7;
    --clr-blue: #4e45d5;
    --clr-dark-blue: #343d68;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy l;
    user-select: none;
}

#cursor {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
}


html,
body {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, rgb(80, 79, 78), rgb(44, 44, 44));
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0vw 10vw;
    z-index: 99;
}

.logo img {
    height: 4rem;
    width: 4rem;
}

nav a,
i {
    font-size: 1vw;
    text-decoration: none;
    color: #fff;
}

.cntr-nav {
    display: flex;
    gap: 3vw;
}

nav i {
    font-size: 1.5vw;
}


.page1 {


    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
    background-image: url(assets/first-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: grayscale(50%) brightness(90%) sepia(10%); */
    background-color: rgba(26, 26, 26, 0.5); /* Change color here */
    background-blend-mode: darken;
    
}
    



.page1 h1 {
    /* font-size: 40px; */
    /* color: #fff; */
    font-size: 40vw;
    color: white;
    text-transform: uppercase;
    font-family: head;
    white-space: nowrap;
    font-stretch: 260%;
    font-weight: 999;
   
}






.page-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(150deg, rgb(190, 189, 188), rgb(214, 202, 202));
    
}

.boxes{
    height: 300px;
    width: 400px;
    border: 3px solid #fff;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
}
.boxes h1{
    margin-bottom: 30px;
    text-transform: uppercase ;
    font-size: 30px;
}
.boxes p{
    font-size: 20px;
    font-weight: 600;
    color: #191919;
}

/* .left-side {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5vh;
    justify-content: center;

}

.left-side #protein1 {
    width: 30%;
    height: 70%;

    position: absolute;

}

.right-side {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

.right-side h1 {
    color: #fff;
    font-size: 5vw;
}

.right-side p {
    color: #fff;
    font-size: 1vw;
    width: 80%;
} */

.page3 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, rgb(246, 242, 238), rgb(214, 202, 202));

}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: #E3E6E6; */
    margin-left: 10rem;
    margin-right: 10rem;
}

.box {
    background-color: white;
    width: 21.8rem;
    height: 24.8rem;
    padding: 20px 0px 15px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
   
}

.box-content {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-img {
    height: 18.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box p {
    font-size: 0.8rem;
}

.page3 h1 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}


.cart {
    height: 100%;
    width: 100%;
    background: transparent;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    backdrop-filter: blur(3px);
    display: none;

}

.cart-container {
    height: 100%;
    width: 600px;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    transform: translateX(100%);
    transition: all 0.5s linear;
}

.cart-container .cart-head {
    height: 10%;
    width: 100%;
    /* background: red; */
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-container .cart-head .cart-icon {
    height: 100%;
    width: 30%;
    /* background: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-container .cart-head .cart-icon i:nth-last-child(1) {
    height: 80%;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s linear;
}

.cart-container .cart-head .cart-icon i:nth-last-child(1):hover {
    color: white;
    background: black;
}

.cart-close {
    color: black;
}

.cart-container .cart-head h3 {
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.cart-container .cart-head i {
    font-size: 25px;
}

.products-collection {
    height: 80%;
    width: 100%;
    overflow: scroll;
}

.cart-product-content>h4 {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    text-decoration: underline dotted;
    cursor: pointer;
    margin: 10px 0 0 0;
    width: fit-content;
}


.counter {
    background: rgba(193, 193, 193, 0.361);
    display: flex;
    justify-content: center;
    height: 25px;
    width: 100px;
    border-radius: 20px;
}

.counter i {
    font-size: 20px;
    padding: 1px 5px;
}

.show-count {
    height: 100%;
    width: 50%;
    text-align: center;
    padding: 2px 0;
    border-right: 1px solid rgb(68, 68, 68);
    border-left: 1px solid rgb(68, 68, 68);
}

.cart-options {
    height: 10%;
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.cart-options button {
    height: 35px;
    width: 130px;
    border-radius: 70px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    text-transform: capitalize;
    transition: all 0.15s linear;
}

.cart-options button:hover {
    border-color: rgb(152, 0, 0);
    box-shadow: 0px 0px 10px rgb(237, 0, 0);
    background: red;
    color: white;
}

.cart-options button:active {
    background: rgb(187, 0, 0);
}

.cart-container h3 {
    color: white;
    text-align: center;
}



.buy-now3 {
    height: 35px;
    width: 130px;
    border-radius: 70px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    text-transform: capitalize;
    transition: all 0.15s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-now3:hover {
    border-color: rgb(102, 106, 107);
    box-shadow: 0px 0px 10px rgb(134, 136, 136);
    background: rgb(102, 106, 107);
    color: white;
}

.buy-now3:active {
    background: rgb(79, 84, 85);
}

.grand_total{
    position: absolute;
   bottom: 4%;
   font-size: 20px;
   font-weight: 400;
}




@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 0 5vw;
    }

    nav a {
        font-size: 3vw;
    }

    .page1 h1 {
        font-size: 60vw; 
    }

    .left-side, .right-side {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .left-side #protein1 {
        width: 80%; 
        height: auto;
    }

    .right-side h1 {
        font-size: 8vw;
    }

    .right-side p {
        font-size: 3vw; 
        width: 90%; 
    }

    .shop-section {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .box {
        width: 90%;
        margin: 1rem auto;
    }

    .cart-container {
        width: 90%;
        padding: 0 10px;
    }

    .cart-options button {
        width: 100%
        /* margin: 0.5rem 0; */
    }
}

/* Tablet Styles */
@media (min-width: 769px) and (max-width: 1024px) {
    nav {
        padding: 0 8vw;
    }

    nav a {
        font-size: 2.5vw;
    }

    .page1 h1 {
        font-size: 50vw; 
    }
    .left-side, .right-side {
        width: 50%; 
    }

    .right-side h1 {
        font-size: 6vw; 
    }

    .right-side p {
        font-size: 2.5vw; 
        width: 85%; 
    }

    .shop-section {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .box {
        width: 45%; 
        margin: 1rem; 
    }
}




